[Unit]
Description=GiDash System Monitor Agent
After=network.target

[Service]
User=irgi
WorkingDirectory=/home/irgi/Aplikasi System Monitor /Ubuntu
ExecStart=/usr/bin/python3 main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
